{{ $data := index .Site.Data .Site.Language.Lang }}

{{- if $data.homepage.videos.enable }}
{{- with $data.homepage.videos }}
<section class="section" id="features">

  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="heading">
          <h2>{{ .title | markdownify }}</h2>
        </div>
      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-12 col-md-8 d-flex justify-content-center"> <!-- Centering the carousel -->
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="min-width: 345px; max-width: 345px;">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <iframe class="embed-responsive-item" width="100%" height="315"
                src="{{ .video_1 | absURL }}"
                title="YouTube video player"
                frameborder="0"
                allow="autoplay; encrypted-media; gyroscope; web-share; muted"
                allowfullscreen>
              </iframe>
            </div>
            <div class="carousel-item">
              <iframe class="embed-responsive-item" width="100%" height="315"
                src="https://www.youtube.com/embed/8SYIksrZeu4"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
              </iframe>
            </div>
            <div class="carousel-item">
              <iframe class="embed-responsive-item" width="100%" height="315"
                src="https://www.youtube.com/embed/8SYIksrZeu4"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen>
              </iframe>
            </div>
          </div>

          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>
      </div>
    </div>
  </div>

</section>
{{- end }}
{{- end }}
